#footer{
    height: 120px;

}
#show_img{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}

#olho{
    cursor: pointer;
}

.carai{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}


span.error.active {
    border: 1px solid red;
    padding: 0.4em;
    color:white;
}