
body{
    background-image: url(../Books_imgs/books-1163695.jpg);
    background-position: right ;
  
   

}
.lt_book{
  padding-top: 75px;

   animation-delay: 50ms;
    

  
}

.book{

    padding-left: 300px;

}

#login_title{


    animation-delay: 100ms;

}

.formulario{

    width: 430px;
    margin: 0 auto;

    animation-delay: 150ms;

}

.under_enter{
    height: 50px;

    display:flex;
    text-align: center;
    justify-content: space-between;

    animation-delay: 200ms;    
    
}
.vish{
    font-size:60px ;
}

span.error {
    display: flex !important;
    
    padding: 0 !important;

    background-color: rgba(255, 0, 0, 0.404) !important;

    margin-top: 2% !important;
}

span.error.active {
    border: 1px solid red;
    padding: 0.4em;
    color:white;
}